// Colors
$text-color: #fff1f1;
$page-background-color: #ffffff;
$background-color: #051923;
$highlight-color: #e1e4ed;
$secondary-color: #020092;
$primary-color: #008c05;
$button-g-color: linear-gradient(to left, #008c05 11%, #004c02 73%);
$gradient-color: linear-gradient(
  to left,
  #008c05 0%,
  #020092 120%,
  #008c05 11%
);
$gray-color: #d9d9d9;
$extra-color: #cce0ff;

// Sizes
$primary-width: 100%;
$primary-height: 100%;
