.inputFormStyle {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    @include font-style($weight: 600, $line-height: 1.6rem);
    text-align: left;
  }
}

.InputStyle {
  width: 400px;
  height: 45px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  outline: none;
}

.InputStyle::placeholder {
  @include font-style($weight: 500, $letter-space: -0.03em);
  color: #d7d7d7;
}

.selectStyle {
  width: 400px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  outline: none;
}

.textareaStyle {
  width: 400px;
  height: 130px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  outline: none;
  resize: none;
}

.buttonStyle {
  cursor: pointer;
  width: 400px;
  height: 45px;
  border-radius: 5px;
  background-color: $primary-color;
  border: none;
  color: $page-background-color;
}

.password-container {
  position: relative;
  width: auto;

  .font-awesome {
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
  }
}
