.vehicle-heading {
  @include display-style($justify: space-between);
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.vehicle-page-container {
  display: flex;
  gap: 20px;
}

.vehicle-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vehicle-list-section {
  width: 80%;

  h3 {
    font-size: 0.9rem;
    height: 40px;
  }
}

.vehicle-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 95vh;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
  padding: 0 20px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb {
    background: blue;
  }
}

.vehicle-list-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  padding: 10px;
  background-color: $page-background-color;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);

  .status {
    p {
      background-color: $primary-color;
      @include display-style;
      color: $text-color;
      height: 40px;
      width: 150px;
      border-radius: 10px;
    }
  }

  .details {
    @include display-style($justify: space-evenly);

    .details-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image {
      width: 100px;
    }
  }

  .active-trip {
    position: relative;
    @include display-style;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    background-color: #d6ffd7;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);

    .active-trip-details {
      @include display-style;
      gap: 20px;
      width: 100%;
      height: 60%;
    }
  }

  .date,
  .distance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .distance {
    border-left: 1px solid $gray-color;
    padding-left: 20px;
    h3 {
      height: auto;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .distance-details {
    @include display-style($justify: space-between, $align: flex-start);
    gap: 20px;
    width: 100%;
  }

  .dd1:nth-child(1) {
    color: green;
  }

  .dd2 {
    color: red;
  }

  .time {
    color: blue;
  }

  .tripdot {
    position: absolute;
    left: 155px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .td1 {
    background-color: green;
    top: 30px;
  }

  .td2 {
    background-color: red;
    bottom: 30px;
  }
}

.view-vehicle-section {
  width: 100%;
  @include display-style($direction: column);

  h3 {
    @include display-style;
    gap: 5px;
    align-self: flex-end;
    width: fit-content;
    height: 40px;
    padding: 5px;
    border: 1px solid $gray-color;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 0.9rem;

    b {
      color: blue;
    }
  }
}

.vehicle-buttons {
  display: flex;
  width: 100%;

  button {
    width: 100%;
    height: 45px;
    border: none;
    cursor: pointer;
  }

  .first-button {
    background-color: blue;
    color: $text-color;
  }

  .second-button {
    @include display-style;
    gap: 5px;
    background-color: $extra-color;
  }
}

.view-vehicle-details {
  @include display-style;
  width: 100%;
  min-height: 280px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  gap: 10px;

  .vehicle-image {
    width: 100%;

    img {
      width: 100%;
      height: 250px;
    }
  }

  .vehicle-details-list {
    @include display-style($direction: column);
    width: 100%;
    height: 100%;
    background-color: $extra-color;
    border: 3px solid blue;
    border-radius: 20px;

    span {
      @include display-style($justify: space-between);
      height: 100%;
      width: 100%;
      border-top: 1px solid $text-color;
      border-bottom: 1px solid $text-color;
      padding: 0 20px;
    }

    :nth-child(1) {
      border-top: none;
    }

    :nth-child(6) {
      border-bottom: none;
    }
  }
}

.vvd {
  border: none !important;
}

.addVehicleSection {
  @include display-style;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(214, 214, 214, 0.8);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.addVehicleContainer {
  position: relative;
  background-color: $page-background-color;
  width: 80%;
  height: 80%;
  padding: 20px 7%;
  overflow-y: scroll;

  h1 {
    margin-top: 20px;
  }
}

.x-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.9rem;
  cursor: pointer;
}

.add-vehicle-form {
  @include display-style($direction: column);
  gap: 20px;

  input,
  select {
    width: 100%;
  }
}

.add-vehicle-form-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-bottom: 1px solid $gray-color;
  padding-bottom: 15px;
  gap: 10px;
  width: 90%;
}

.insurance {
  width: 100%;
  span {
    @include display-style;
    gap: 5px;
  }
  input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  .radio-input {
    gap: 20px;
  }
}

.add-vehicle-button {
  display: flex;
  justify-content: right;
  width: 90%;

  button {
    width: 200px;
    height: 45px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  :nth-child(2) {
    background-color: $secondary-color;
    color: $text-color;
  }
}
